repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: https://github.com/adrienverge/yamllint
      rev: v1.33.0
      hooks:
          - id: yamllint
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.4
      hooks:
          - id: remove-tabs
    - repo: https://github.com/sirosen/check-jsonschema
      rev: 0.27.0
      hooks:
          - id: check-github-workflows
          - id: check-github-actions
